/*
* @Author: Administrator
* @Date:   2018-03-15 09:02:35
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-15 10:18:24
*/
@import url('base.css');
@font-face {
	font-family: 'iconfont';  /* project id 591011 */
	src: url('https://at.alicdn.com/t/font_591011_f8scwonpuswkx1or.eot');
	src: url('https://at.alicdn.com/t/font_591011_f8scwonpuswkx1or.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_591011_f8scwonpuswkx1or.woff') format('woff'),
	url('https://at.alicdn.com/t/font_591011_f8scwonpuswkx1or.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_591011_f8scwonpuswkx1or.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
i{
	font-style: normal;
}
header{
	width: 100%;
	height: 1.34rem;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.left{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.list1{
	font-size: 0.5rem;
	margin: 0 0.2rem;
}
.active1{
	color: red;
}
.last1{
	flex-grow: 1;
}
.icon{
	width: 1.34rem;
	height: 1.34rem;
	box-shadow: -0.05rem -0.6rem 1rem 0.1rem rgba(0,0,0,0.1);
	text-align: center;
}
.iconsp{
	font-style: normal;
	line-height: 1.34rem;
	font-size: 1rem;
}



.tuijian{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1.34rem;
	margin-bottom: 1.6rem;
}
.list{
	width: 49.5%;
	height: 10rem;
	background: skyblue;
	margin-bottom: 1%;
	position: relative;
	overflow: hidden;
}
img{
	height: 100%;
}
.text{
	color: white;
	font-size: 0.5rem;
	font-weight: bold;
	position: absolute;
	bottom: 1rem;
	left: 0;
	margin-left: 0.1rem;
}
.bottom{
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0.3rem;
	left: 0;
}
.bofangjian{
	width: 0;
	height: 0;
	border-bottom: 0.25rem solid transparent;
	border-top: 0.25rem solid transparent;
	border-left: 0.5rem solid #fff;
	margin-left: 0.2rem;
}
.bofangliang{
	color: white;
	font-size: 0.5rem;
	flex-grow: 1;
}
.zanshu{
	color: white;
	font-size: 0.5rem;
	margin-right: 0.2rem;
}
footer{
	width: 100%;
	height: 1.6rem;
	background: #fff;
	border-top: 0.01rem solid #ccc;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
}
.table-li{
	text-align: center;
}
.active .icontb,.active .table-wenzi{
	color: #fb6360;
}
.icontb{
	font-size: 0.6rem;
	color: #837c7a;
}
.table-wenzi{
	margin-top: 0.2rem;
	font-size: 0.3rem;
	color: #837c7a;
}
